// Шрифт

$font-light: "Roboto-Regular", sans-serif;
$font-weight: "Montserrat", sans-serif;
$font-size: 16px;

// Цвет

$accent: #6D0E5A;
$text: #A0ADB6;
$bg: #394360;

// Разное

$accent-shadow: 0 3px 20px rgba($accent, .5);
$box-shadow: 0 3px 6px rgba($bg, .20);